{% extends 'eddefaultpage.html' %}

{% block pagename %}Сменить пароль{% endblock %}

{% block pagecontent %}
    <label>{{ error }}</label>
    <form class="edloginFrame" action="{% url 'edu:edchp' %}" method="post">
        {% csrf_token %}
        <div class="edentryLabel">
            Текущий пароль
        </div>
        <input type="password" class="edentryFrame" name="cur">
        <div class="edentryLabel">
            Новый пароль
        </div>
        <input type="password" class="edentryFrame" name="newpass">
        <div class="edentryLabel">
            Повторите новый пароль
        </div>
        <input type="password" class="edentryFrame" name="newpassrepeat">
        <button type="submit" class="edlogButton">
            Сменить
        </button>
    </form>

{% endblock %}