{% extends 'defaultpage.html' %}

{% block pagename %}Сменить пароль{% endblock %}

{% block pagecontent %}
    <label>{{ error }}</label>
    <form class="loginFrame" action="{% url 'stud:chp' %}" method="post">
        {% csrf_token %}
        <div class="entryLabel">
            Текущий пароль
        </div>
        <input type="password" class="entryFrame" name="cur">
        <div class="entryLabel">
            Новый пароль
        </div>
        <input type="password" class="entryFrame" name="newpass">
        <div class="entryLabel">
            Повторите новый пароль
        </div>
        <input type="password" class="entryFrame" name="newpassrepeat">
        <button type="submit" class="logButton">
            Сменить
        </button>
    </form>

{% endblock %}