{% extends 'defaultpage.html' %}

{% block pagename %}Поддержка
{% endblock %}
{% block pagecontent %}

    <div class="support">
        <div class="container">
            <form action="{% url 'stud:sendmail' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-75">
                        <input type="text" name="subject" placeholder="Тема">
                    </div>
                </div>
                <div class="row">
                    <div class="col-75">
                        <input type="text" name="message" placeholder="Сообщение" style="height:300px">
                    </div>
                </div>
                <input type="submit" value="Отправить">
            </form>
        </div>
    </div>

{% endblock %}