{% extends 'defaultpage.html' %}

{% block pagename %}Преподаватели{% endblock %}

{% block pagecontent %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="groupgeneration" >
        <div class="groupgen-wrap">
            <form> <!-- action="{% url 'edu:topic_templates' %}" method="POST" -->

                {% csrf_token %}

                <div class="themes">
                    {% for educator in educators %}
                        <button type="submit" name="{{ educator.id }}" class="topicaButton">
                                {{educator.name}} {{educator.family_name}} {{educator.fathers_name}}
                        </button>
                        <button class="delbtn" type="submit" name="d{{ educator.id }}">
                                <i class="fa fa-trash"></i>
                        </button>
                    {% endfor %}
                </div>
            </form>

            <div class="buttontasks">
                <a> <!--href="{% url 'edu:new_topic' %}" -->
                    Новый преподаватель
                </a>
            </div>
        </div>
    </div>

{% endblock %}
